:root {
  --primary-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h3,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btns {
  display: inline-block;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-text-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.benefits-hidden-title,
.projects-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.menu-button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .nav-list {
    padding-bottom: 60px;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.nav-list,
.contacts-header-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

.nav-list-link {
  position: relative;
  display: block;
  padding-bottom: 12px;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-text-color);
}

.contacts-header-item:first-child {
  margin-bottom: 16px;
}

.contacts-header-link {
  font-style: normal;
  display: inline-block;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header-link:hover, .contacts-header-link:focus {
  color: var(--accent-text-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: var(--accent-text-color);
  display: inline-block;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list-item:not(:last-child),
  .contacts-header-item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list,
  .contacts-header-list {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts-header-link {
    display: flex;
    align-items: center;
  }
}

.logo {
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

.logo.accent {
  color: var(--accent-text-color);
}

.logo.dark {
  color: #000000;
}

.logo.light {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-left {
  text-align: center;
  padding-bottom: 60px;
}

.logo.light {
  display: block;
  margin-bottom: 20px;
}

.contacts-footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.contacts-footer-link.map {
  color: #ffffff;
}

.footer-center {
  text-align: center;
  padding-bottom: 60px;
}

.footer-appeal {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-text-color);
}

.footer-right {
  width: 450px;
  text-align: center;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

.footer-form-btn {
  position: relative;
  width: 200px;
  height: 50px;
  text-align: left;
}

.footer-form-btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
  .footer-left {
    width: 232px;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
    text-align: left;
  }
  .contacts-footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-center {
    text-align: left;
    margin-right: 93px;
  }
  .footer-right {
    text-align: left;
  }
  .footer-form {
    display: flex;
  }
  .footer-form-input {
    margin-right: 12px;
  }
}

.projects .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.category-list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .projects-list-item {
    margin-bottom: 30px;
  }
  .category-list-item:nth-last-child(-n + 2) {
    margin-top: 15px;
  }
}

.category-btn {
  min-height: 38px;
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-btn:hover, .category-btn:focus {
  color: #ffffff;
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-links:hover, .projects-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-img-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-links:hover .projects-overlay,
.projects-links:focus .projects-overlay {
  transform: translateY(0);
}

.projects-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .category-list {
    justify-content: center;
    margin-bottom: 30px;
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .projects-list-item {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .projects-list-item:first-child .projects-content {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .projects .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .category-list {
    margin-bottom: 50px;
  }
  .projects-list-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}
/*# sourceMappingURL=portfolio.css.map */