.hero {
  max-width: 100%;
  height: 400px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }
}
.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  min-width: 200px;
}

@media screen and (min-width: 481px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet.jpg);
  }
  .hero .container {
    padding-left: 204px;
    padding-right: 204px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 481px),
  screen and (min-resolution: 192dpi) and (min-width: 481px),
  screen and (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop.jpg);
  }
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 237px;
    padding-right: 237px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop@2x.jpg);
  }
}
